doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '15'

        profiling_collect_backtrace: '%kernel.debug%'
        use_savepoints: true
        types:
            ArrowType: App\DBAL\Types\ArrowType
            BowType: App\DBAL\Types\BowType
            ClubEquipmentType: App\DBAL\Types\ClubEquipmentType
            ContestType: App\DBAL\Types\ContestType
            DisciplineType: App\DBAL\Types\DisciplineType
            EventAttachmentType: App\DBAL\Types\EventAttachmentType
            EventParticipationStateType: App\DBAL\Types\EventParticipationStateType
            EventType: App\DBAL\Types\EventType
            FletchingType: App\DBAL\Types\FletchingType
            GenderType: App\DBAL\Types\GenderType
            LicenseActivityType: App\DBAL\Types\LicenseActivityType
            LicenseAgeCategoryType: App\DBAL\Types\LicenseAgeCategoryType
            LicenseApplicationStatusType: App\DBAL\Types\LicenseApplicationStatusType
            LicenseeAttachmentType: App\DBAL\Types\LicenseeAttachmentType
            LicenseCategoryType: App\DBAL\Types\LicenseCategoryType
            LicenseType: App\DBAL\Types\LicenseType
            PracticeAdviceAttachmentType: App\DBAL\Types\PracticeAdviceAttachmentType
            PracticeLevelType: App\DBAL\Types\PracticeLevelType
            TargetTypeType: App\DBAL\Types\TargetTypeType
    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        report_fields_where_declared: true
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
