<div class="alert alert-info">
    <p>Pour la saison à venir qui débutera en septembre 2022, vous souhaitez vous inscrire à l'association des Archers de Bordeaux Guyenne ?</p>
    <p>Le club étant complet, nous vous proposons de vous inscrire sur notre <strong>liste d'attente</strong>.</p>
    <p>Avant la prise de licence, deux séances d'essai (20€) seront obligatoires pour les nouveaux apprenants.</p>
</div>