<div class="alert alert-info">
    <p>Pour la saison à venir qui débutera en septembre 2022, vous souhaitez vous inscrire à l'association des Archers de Bordeaux Guyenne ?</p>
    <p>Le nombre d’inscriptions étant croissant, nous sommes dans l'obligation d'en limiter le nombre.</p>
    <p>Avant la prise de licence, deux séances d'essai (20€) sont obligatoires pour les nouveaux apprenants, si vous souhaitez réserver vos séances d'essai qui auront lieu les matinées des 10 et 17 septembre 2022, merci de bien vouloir effectuer un virement sur le compte de l'association :</p>
    <blockquote class="mb-0">
        <em>Titulaire du compte:</em> ASS ARCHERS DE GUYENNE<br>
        <em>IBAN:</em> FR76 1090 7000 0112 0218 7849 528<br>
        <em>BIC/SWIFT:</em> CCBPFRPPBDX<br>
    </blockquote>
</div>