{% extends 'email_base.html.twig' %}

{% block header %}
    <row>
        <columns>
            <h4 class="text-center">Merci</h4>
            <h6 class="text-center">Votre demande de renouvellement a bien été enregistrée.</h6>
        </columns>
    </row>
{% endblock %}

{% block content %}
    <row>
        <columns>
            <callout class="warning">
                L'inscription définitive se fera sur le terrain le samedi 10 septembre 2022 de 14h à 16h.
            </callout>

            <p>Début des cours dès le 17 septembre.</p>

            <p>À bientôt !</p>

            <p>
                —<br>
                <strong>Gilles</strong><br>
                <em>Président des Archers de Guyenne</em>
            </p>
        </columns>
    </row>
{% endblock %}