{% extends 'public.html.twig' %}

{% block title %}Pré-inscription{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <img src="{{ asset('build/logo-archers-de-guyenne.svg') }}" alt="" class="float-start me-3" style="height: 100px" />
            <h1>Les Archers de Bordeaux Guyenne</h1>
            <h2>Inscription Tir à l'Arc - Séance d'essai</h2>
        </div>
    </div>

    <div class="row text-center" style="font-size: 22px">
        <div class="col-12 my-5">
            <span style="font-size: 72px">🙌</span><br>
            <span style="font-size: 48px">C'est dans la boite !</span><br>
            Merci, votre pré-inscription a bien été prise en compte.
        </div>
        <div class="col-12 my-3">
            Nous reviendrons vers vous avec de plus amples informations.<br>
            En attendant, vous pouvez nous suivre sur
            <a href="https://www.facebook.com/LesArchersdeGuyenne/"><em class="fa-brand fa-facebook"></em> Facebook</a>, et
            <a href="https://www.instagram.com/archersdebordeaux/?hl=fr"><em class="fa-brand fa-instagram"></em> Instagram</a> !
        </div>
        <div class="col-12 my-3">
            <a href="{{ path('app_pre_registration') }}" class="btn btn-primary">
                <em class="fa-solid fa-arrow-circle-left"></em> Inscrire une nouvelle personne
            </a>
        </div>
    </div>
{% endblock %}
