{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Bonjour {{ user.firstname }}!</h1>

            <p>Vous n'avez aucune licence.</p>

            <a href="" class="btn btn-primary disabled">Demande d'adhésion</a>
        </div>
    </div>
{% endblock %}
