# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    env(REVISION_FILE): '%kernel.project_dir%/REVISION'
    env(APP_REVISION): '%env(default::file:REVISION_FILE)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            $loginLimiter: '@limiter.login'
            $registrationLimiter: '@limiter.registration'
            $passwordResetLimiter: '@limiter.password_reset'
            $consentLimiter: '@limiter.consent'
            string $siteKey: '%env(FRIENDLY_CAPTCHA_SITE_KEY)%'
            string $secret: '%env(FRIENDLY_CAPTCHA_SECRET)%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Scrapper/FftaScrapper.php'

    App\Command\DiscordBotRunCommand:
        arguments:
            $botToken: '%env(DISCORD_BOT_TOKEN)%'

    App\Helper\MapHelper:
        arguments:
            $username: '%env(MAPBOX_USERNAME)%'
            $accessToken: '%env(MAPBOX_ACCESS_TOKEN)%'

    Twig\Extra\Intl\IntlExtension:
        alias: 'twig.extension.intl'

    Doctrine\Common\Annotations\Reader:
        class: Doctrine\Common\Annotations\AnnotationReader

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    scaleway_object_storage_client:
        class: 'AsyncAws\SimpleS3\SimpleS3Client'
        arguments:
            -   endpoint: '%env(SCALEWAY_OBJECT_STORAGE_ENDPOINT)%'
                accessKeyId: '%env(SCALEWAY_OBJECT_STORAGE_ID)%'
                accessKeySecret: '%env(SCALEWAY_OBJECT_STORAGE_SECRET)%'
                region: '%env(SCALEWAY_OBJECT_STORAGE_REGION)%'

    App\DataFixtures\Faker\Provider\EnumProvider: ~
    App\DataFixtures\Faker\Provider\DateTimeImmutableProvider: ~
    App\DataFixtures\Faker\Provider\RecurringDateTimeProvider: ~
    App\DataFixtures\Faker\Provider\FftaCodeProvider: ~

    App\Tests\FakePublicUrlGenerator: ~

when@test:
    services:
        App\Security\TokenStorageDecorator:
            decorates: 'security.token_storage'
            arguments:
                $storage: '@security.untracked_token_storage'
                $container: '@service_container'

        App\Service\FriendlyCaptchaService:
            arguments:
                $siteKey: 'test-site-key'
                $secret: 'test-secret'
                $logger: '@logger'
                $enabled: false