{% extends 'base.html.twig' %}

{% block title %}
    Demande de licence
{% endblock %}

{% block body %}
    <h1>Demande de licence</h1>

    <p>Vous n'avez actuellement aucune demande de licence en cours.</p>
{% endblock %}