{% extends 'base.html.twig' %}

{% block title %}
    Demande d'adhésion
{% endblock %}

{% block body %}
    <h1>Demande d'adhésion</h1>

    <p>Vous n'avez actuellement aucune demande d'adhésion en cours.</p>
{% endblock %}