@import "variables";
@import "bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.btn-discord {
  @include button-variant($discord, $discord);
}

.btn-outline-discord {
  @include button-outline-variant($discord);
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.profile-stamp {
  display: block;
  position: absolute;
  width: 120px;
  left: 180px;
  top: 190px;
  opacity: 0.5;
}

.bg-ffta {
  background-color: #125f9b;
  background-image: linear-gradient(90deg, #084276, #125f9b);
}

.badge-profile-picture {
  width: 175px;
  min-height: 275px;
}

@import '_calendar.scss';
@import '_event_participation.scss';