@import "variables";
@import "bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "mobile";
@import "events";

.btn-discord {
  @include button-variant($discord, $discord);
}

.btn-outline-discord {
  @include button-outline-variant($discord);
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.profile-stamp {
  display: block;
  position: absolute;
  width: 120px;
  left: 180px;
  top: 190px;
  opacity: 0.5;
}

.bg-ffta {
  background-color: #125f9b !important;
  background-image: linear-gradient(90deg, #084276, #125f9b) !important;
}

.badge-profile-picture {
  width: 175px;
  min-height: 275px;
}

@import '_calendar.scss';
@import '_event_participation.scss';

// Legal documents styling
.legal-document {
    h1 {
        font-size: 1.75rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: $primary;
        border-bottom: 2px solid $primary;
        padding-bottom: 0.5rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 0.75rem;
        color: $secondary;
    }

    h3 {
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    p {
        margin-bottom: 1rem;
        line-height: 1.6;
        text-align: justify;
    }

    ul, ol {
        margin-bottom: 1rem;
        padding-left: 2rem;
    }

    strong {
        font-weight: 600;
    }

    a {
        color: $primary;
        text-decoration: underline;

        &:hover {
            color: darken($primary, 15%);
        }
    }

    hr {
        margin: 2rem 0;
    }
}

// Mobile adjustments for legal documents
@media (max-width: 768px) {
    .legal-document {
        p {
            text-align: left;
        }
    }
}