<footer class="text-center mb-3 mt-5 col-12">
    Fait avec <em class="fa fa-heart"></em> à Bordeaux par
    <a href="https://flyingpingu.fr" target="_blank">flying pingu</a> •
    <a href="https://github.com/dehy/archery-manager" target="_blank">Sources</a> •
    Revision <a href="https://github.com/dehy/archery-manager/tree/{{ app_revision ? app_revision : "main" }}" target="_blank">{{ app_revision ? app_revision|slice(0, 8) : 'dev' }}</a>
</footer>