<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        {{ encore_entry_link_tags('unauthenticated') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('unauthenticated') }}
    {% endblock %}

    <title>{% block title %}Archerie{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-content-center" style="height: 100vh">
            <div class="col-3">
                <img src="{{ asset('build/logo-archers-de-guyenne.svg') }}"
                     alt="Les Archers de Bordeaux Guyenne"
                     class="mx-auto d-block" />
            </div>
            <div class="col-3">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>