{% extends 'base.html.twig' %}

{% block title %}Modification d'un archer{% endblock %}

{% block body %}
    <h1>Modifier un archer</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">retour à la liste</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
